{% extends "_partials/base.html" %}

{% block title %}Voter Registration{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Voter Registration</h3>
            </div>

            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        <label for="{{ form.first_name.id_for_label }}">First Name:</label>
                        {{ form.first_name }}
                        {{ form.first_name.errors }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
                        {{ form.last_name }}
                        {{ form.last_name.errors }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.date_of_birth.id_for_label }}">Date of Birth:</label>
                        {{ form.date_of_birth }}
                        {{ form.date_of_birth.errors }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.social_security_number.id_for_label }}">Social Security Number:</label>
                        {{ form.social_security_number }}
                        {{ form.social_security_number.errors }}
                    </div>
                    <button type="submit" class="btn btn-info">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}